.display-fluid{
    display: flex;
    flex-direction: row;

}
h1{
  font-size: xx-large;
}


p{
    font-size: larger;
}

.btn{
    background-color: rgb(133, 130, 130);
    border-radius: 10px;
}
.btn:hover{
    background-color: rgb(114, 109, 109);
}
.card-text{
    font-size: x-large;
}
.previewsProdutoPrincipal img{
  width: 300px;
  height: 300px;
}
.previewsProdutoSecundarios img{
  width: 100px;
  height: 100px;

  border: solid;
  margin-top: 10px;
  margin-right: 20px;
}



img{
    height: 200px;
    width: 200px;
}
.tamanhos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}
.form-check{
  margin-left:10px ;
  background-color: #555252;
  color: white;
  padding-right: 10px ;

}
.modal img{
  width: 40px;
  height: 40px;
}
.modal{
  display: block !important;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 11%;
}
.modal-dialog{
 
  margin-top: 10%;
}
.modal-body{
  display: flex; 
  justify-content: center;
align-items: center;
}


.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card-text{
    font-size: large;
    margin-bottom: 0; 
}
.valorNoPromo{
    font-size: x-large;
    margin-bottom: 0; 
}
.valorComPromo{
    font-size: x-large;
    margin-bottom: 0; 
}

#msgCarrinho {
    color: green;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }