.display-fluid{
    display: flex;
    flex-direction: row;

}


p{
    font-size: larger;
}

.btn{
    background-color: rgb(133, 130, 130);
    border-radius: 10px;
}
.btn:hover{
    background-color: rgb(114, 109, 109);
}
.card-text{
    font-size: x-large;
}




img{
    height: 200px;
    width: 200px;
}



.card-text{
    font-size: large;
    margin-bottom: 0; 
}
.valorNoPromo{
    font-size: x-large;
    margin-bottom: 0; 
}
.valorComPromo{
    font-size: x-large;
    margin-bottom: 0; 
}

#msgCarrinho {
    color: green;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }