<div class="container-fluid">
    <div class="card p-3 text-center" >
        <div class="card-body">
            <p *ngIf="msgAdicionado" id="msgCarrinho">{{msgAdicionado}}</p>
           
           
           
           
            <div class="previewsProdutoPrincipal">
                <img src="{{imagem}}" alt="imagem principal">

                <div class="previewsProdutoSecundarios">
                    <img src="{{produto.imagem2}}" alt="imagem principal" (mouseenter)="trocarPrincipal(produto.imagem2)">

                    <img src="{{produto.imagem3}}" alt="imagem principal" (mouseenter)="trocarPrincipal(produto.imagem3)">

                    <img src="{{produto.imagem}}" alt="imagem principal"  (mouseenter)="trocarPrincipal(produto.imagem)">
                </div>
                

            </div>
            
            
            
            <a><h1 class="card-title" >{{produto.nome}}</h1></a>
          
            
             <ng-template #naPromocao>
                <p class="card-text">R${{produto.valor.toFixed(2)}} <span style="font-size: 12px;">pix</span></p>
                <p id="cartao">ou 10x{{(produto.valor/10+5).toFixed(2)}}<span style="font-size: 12px;"> cartão</span></p>
            </ng-template>

            <div *ngIf="produto.promocao;else naPromocao">
                <p class="card-text" >De <s>R${{produto.valor }}</s> </p>
                        <p class="valorComPromo">
                            Por R${{(produto.valor-(produto.valor/100*produto.valorPromocao)).toFixed(2)}} <span style="font-size: 12px;">pix</span>
                        </p>
                        <p id="cartao">ou 10x{{(produto.valor/10+5).toFixed(2)}}<span style="font-size: 12px;"> cartão</span></p>
            </div>
            <button class="btn" (click)="adicionarCarrinho(produto)" (click)="adicionado()">Adicionar ao carrinho</button>
            
        
        </div> 
    </div>
    <div class="card p-3 text-left">
        <h5>Detalhes do Produto</h5>
        <ul>

            <li>Nome Produto:{{produto.nome}}</li>
            <li>Total Estoque:{{produto.quantidadeEstoque}}</li>
            <li>Categoria:{{produto.categoria}}</li>
        </ul>
        <h6>Descricao do Produto</h6>
        <p style="font-size: small;">{{produto.descricao}}</p>
        
    </div>



</div> 

