<div class="container-fluid">
    <div class="card p-3 text-center" >
        <div class="card-body">
           
           
           
           
            <div class="previewsProdutoPrincipal">
                <img src="{{imagem}}" alt="imagem principal">

                <div class="previewsProdutoSecundarios">
                    <img src="{{produto.imagem2}}" alt="imagem principal" (mouseenter)="trocarPrincipal(produto.imagem2)">

                    <img src="{{produto.imagem3}}" alt="imagem principal" (mouseenter)="trocarPrincipal(produto.imagem3)">

                    <img src="{{produto.imagem}}" alt="imagem principal"  (mouseenter)="trocarPrincipal(produto.imagem)">
                </div>
                

            </div>
            
            
            
            <a><h1 class="card-title" >{{produto.nome}}</h1></a>
          
            
             <ng-template #naPromocao>
                <p class="card-text">R${{produto.valor.toFixed(2)}} <span style="font-size: 12px;">pix</span></p>
                <p id="cartao">ou 10x{{(produto.valor/10+5).toFixed(2)}}<span style="font-size: 12px;"> cartão</span></p>
            </ng-template>

            <div *ngIf="produto.promocao;else naPromocao">
                <p class="card-text" >De <s>R${{produto.valor }}</s> </p>
                        <p class="valorComPromo">
                            Por R${{(produto.valor-(produto.valor/100*produto.valorPromocao)).toFixed(2)}} <span style="font-size: 12px;">pix</span>
                        </p>
                        <p id="cartao">ou 10x{{(produto.valor/10+5).toFixed(2)}}<span style="font-size: 12px;"> cartão</span></p>
            </div>
            <p>Tamanhos:</p>
            <form [formGroup]="tamanhosForm">            
            <div class="tamanhos">
                    
                    <div class="form-check" *ngFor="let tamanho of produto.tamanhos;index as i" >
                        <input class="form-check-input" type="radio" formControlName="tamanho" id="{{i}}" value={{tamanho}}>
                        <label class="form-check-label" for="{{i}}">{{tamanho}}</label>
                    </div>
            </div>
            
            <button class="btn" (click)="adicionarCarrinho()"  [disabled]="tamanhosForm.invalid">Adicionar ao carrinho</button>
            </form>
        
        </div> 
    </div>
    <div class="card p-3 text-left">
        <h5>Detalhes do Produto</h5>
        <ul>

            <li>Nome Produto:{{produto.nome}}</li>
            <li>Total Estoque:{{produto.quantidadeEstoque}}</li>
            <li>Categoria:{{produto.categoria}}</li>
        </ul>
        <h6>Descricao do Produto</h6>
        <p style="font-size: small;">{{produto.descricao}}</p>
        
    </div>
<div  *ngIf="msgAdicionado">
    <div class="modal" tabindex="1" role="dialog" (click)="fechar()">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
           
            <div class="modal-body">
              <p>Produto adicionado ao carrinho!! <img src="/ok.png" alt="ok"></p>
            </div>
            
          </div>
        </div>
      </div>
</div>
   



</div> 

