.top{
    text-align: center;
    margin: 0;
    width: 100%;
    right: 0;
    color:#ffffff;
}
.container-fluid{
    width: 100%;
    background-color: #555252;
    display: flex;
    justify-content: right;
    
}
.nav-link{
    color: black;
    padding:5;
}
.nav-link:hover{
    border-color: white;
    border: solid;
    border-width: 1px;
}

.navbar{
    padding: 0px;
    
}
img{
    width: 20px;
    height: 20px;   
}
.form-select{
    height: 25px;
    margin-right:5px ;
    margin: 0;
}

.pesquisa{
    margin-left: 10px;
}
.pesquisa button{
    background-color: transparent;
    border: none;
    background-image: url("/lupa.png");
    background-size: 25px;
    width: 20px;
    height: 19px;
}
.pesquisa button:hover{
    background-size: 26px;
}

#titulo{
    text-decoration: none;
    color: inherit;
}

#menuzin{
    width: 20px;
    height: 20px;
}
#menuzin .nav-link{

    background-image: url("/menu-aberto.png");
    background-size: 20px;
    border: none;

    
    height: 20px;
    width: 20px;
    padding: 0;
    margin-right: 1;

}

#menuzin .nav-link:hover{
    background-size: 22px;

}

#logo{
    width: 160px;
    height: 65px;
    margin-bottom: 10px;
}
