<div class="top">
    <a [routerLink]="''" id="titulo"><img src="/logo.png" alt="logo" id="logo"></a>
</div>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class=container-fluid>
        <ul class="nav ">
            
            <div>
                <li class="nav-item dropdown" id="menuzin">
                    <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]="''">Home</a></li>
                      <li><a class="dropdown-item" [routerLink]="'carrinho'">Carrinho</a></li>
                      <li><a class="dropdown-item" [routerLink]="'promocoes'">Promoções</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Contatos</a></li>
                    </ul>
                  </li>
            </div>
            

            


        </ul>
        <div class="pesquisa">
            <form [formGroup]="pesquisarNome"  (ngSubmit)="pesquisar()">
            <input type="text" formControlName="pesquisa" size="30" placeholder="Camisa Polo">
             <button type="submit" title="Pesquisar"></button>
            </form> 
            </div>
            

    </div>
 
</nav>