<div class="container-fluid">
<h3>Bem vindo {{nomeADM}}!!</h3>

<div class="menu">
    
    <button (click)="salvarProduto()"> 
        <img src="/produto.png" alt="">
        Salvar Produto
    </button>
    <button (click)="atualizarProduto()">
        <img src="/atualizar.png" alt="">
        Atualizar Produto
    </button>
    <button (click)="removerProduto()">
        <img src="/remover.png" alt="">
        Remover Produto
    </button>

    <button (click)="pesquisarProduto()">
        <img src="/lupa2.png" alt="">
        Pesquisar Produto
    </button>

</div>
   





</div>
